lightml/__pycache__/__init__.cpython-312.pyc
lightml/__pycache__/*
lightml/models/__pycache__/*
server/__pycache__/*

**/__pycache__/*
my_registry/*
miia_registry/*
report/*
lightml.egg-info/*
.kiro/specs/*
uv.lock
